:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: #023064;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  /* border-radius: 8px; */
  /* border: 1px solid transparent; */
  /* padding: 0.6em 1.2em; */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  /* cursor: pointer; */
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

#app {
  max-width: 1280px;
  display: flex;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #023064;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}


/* body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
} */

.container {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  margin: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #A3C7CC;
}

.hidden {
  display: none;
}

label {
  display: block;
  margin-top: 10px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 20px;
}


.slotPonDiv,
.slotPonDivFusionado {
  display: flex;
  padding: 5px;
  align-items: baseline;
  flex-direction: row;
}

.slotPonDiv input,
.slotPonDivFusionado input {
  height: 1.7rem;
  margin: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}



.inputWithButton {
  display: flex;
  align-items: baseline;
}

.inputWithButton input {
  flex: 1;
}

.inputWithButton button {
  margin-left: 10px;
}

.buttonFlex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 5px;
}

#ocorrenciaDiv {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
  max-width: 500px;
  white-space: pre-line;
  line-height: 1.5;
}

#ocorrenciaDiv:before {
  content: "Informações da Ocorrência:";
  display: block;
  font-weight: 700;
  margin: 4px;
  font-size: 20px;
}

#limpaForm {
  background-color: #147023;
}

#limpaForm:hover {
  background-color: rgb(51, 163, 57);
}

#copiaForm {
  background-color: #147023;
}

#copiaForm:hover {
  background-color: rgb(51, 163, 57);
}

#gerarPass {
  font-family: sans-serif;
  padding: 7px;
  background-color: #147023;
}

#gerarPass:hover {
  background-color: rgb(51, 163, 57);
}

#rbxhtml {
  background-color: #1F34AD;
}

#rbxhtml:hover {
  background-color: #147023;
}

#tranformRBX {
  background-color: #1F34AD;
}

#tranformRBX:hover {
  background-color: #147023;
}

#gerarOcorrencia {
  margin-top: 10px;
  /* padding: 8px 15px; */
  background-color: #147023;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#gerarOcorrencia:hover {
  background-color: rgb(51, 163, 57);
}

#ocorrenciaDiv p {
  margin: 10px 0;
}

button {
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



button .buttonGerarSenha {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.redes-sociais {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container h1 {
  text-shadow: 3px 0px 2px rgba(17, 18, 18, 0.32), -2px -9px 22px rgba(246, 253, 254, 0.24);
  color: #0340b8;
}

.github-icon {
  color: #F6FDFE;
  font-size: 44px;

}

.linkedin-icon {
  color: #F6FDFE;
  font-size: 44px;
}

.textArea {
  margin: 10px;

}

.ForaNaPon {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  resize: vertical;
  white-space: pre-line;
  resize: none;
  height: 100px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}
